<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="LogFileName" value="C:\Users\marco.clin\Source\Repos\TP_Reprise\TP_Reprise\logs.txt" />
  </appSettings>
  
</configuration>